

.background{
  background-color:azure;
}
.text_center{
    text-align: center;
}
.achivements_container{
  display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    text-align: justify;
}
.achivements{
width: 400px;
height: 520px;
    border:2px solid orange;
    padding: 20px;
    margin:20px 10px 40px 10px ;
    box-shadow:1px 1px 15px 2px orangered;
    border-radius: 20px;

}
.achivements:hover{
background-color: rgba(121, 116, 116, 0.4);
box-shadow:none;
transition: 1s;
}
  
.achivements_img{
  height: 170px;
  width: 170px;
  margin:20px 15px 10px 13px;
}
.btn{
  font-size: 15px;
  color:wheat;
  background-color: orangered;
  height: 30px;
  width: 100px;
  padding: 5px;
  border:2px solid black;
  margin: 20px 130px;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
}
.btn:hover{
  background-color: #ff6600;
  box-shadow: 1px 2px 2px 3px black;
  transition: 1s;
  border-radius: 35px;
}

.img_pavan
{ height: 400px;
width: 450px;
margin: 20px 20px 10px  28px;
border: 1px solid orangered;
}
.img_pavan:hover{
  box-shadow:2px 2px 10px 5px orange;
  height: 420px;
  transition-duration: 1s;
}
.text{
  margin:10px;
  text-align: justify;
  padding: 10px;
 
}
.navy_img
{
 height: 250px;
 width: 250px;
 margin: 20px;
}
.navy_container{
  display: flex;
  flex-wrap: wrap;

}
.navy{
  border: 1px solid black;
  height: 560px;
  border-radius: 20px ;
  margin: 10px 10px 30px 10px;
  padding: 10px 10px 20px 10px;
  box-shadow:1px 1px 15px 2px orangered;
}
.text_padding{
  padding: 20px 10px 10px 10px;
  color:orangered;
}
.headding_size{
  font-size: 30px;
}
.sub_headding_size{
  font-size: 25px;
  color:#ff6600;
}
.text_size{
  font-size: 16px;
}.text_padding1{
  padding: 10px 380px;
  color:orange;
}
.text_padding2{
  padding: 10px 530px;
  color:orange;
}
.text_padding3{
  padding: 10px 368px;
  color:orange;
}
.sub_headding_color{
  
}