body{
    background: linear-gradient(to right, rgb(214, 210, 255),rgb(248, 247, 255),rgb(200, 193, 244),rgb(250, 250, 255));
    background-image: url(./../images/contact-img/bg-contact.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    }

.heading{
    font-family: 'Dancing Script';
    font-size: 55px;
    color: black;
    text-align: center;
    background-color: rgb(213, 213, 60);
    width: fit-content;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    padding: 5px 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 0 0 25px 2px black;
}

.contact-container{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}
.contact-card{
    background-color: rgb(246, 191, 199);
    width: 200px;
    padding: 22px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px 2px black;
    border: 1px solid black;
}

.contact-card:hover{
    box-shadow: 0 0 22px 2px black;
    transform: scale(1.05);
    transition: 0.5s;
}

.contact-img{
    height: 100px;
    width: 100px;
    padding: 10px;
    margin-left: 28px;
}

.contact-btn{
    background-color: black;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    display: block;
    margin: 2px auto;
    margin-top: 5px;
    margin-bottom: 1px;
    width: 135px;
    border: 1px solid white;
    cursor: pointer;
}

.contact-btn:hover{
    border: 1px solid black;
    width: 150px;
    background-color: orange;
    color: black;
    transition: 0.5s;
    box-shadow: 0 0 10px 1px black ;
}

.no-underline{
    text-decoration: none;
}

.headings-map{
    background-color: rgb(197, 247, 197);
    width: 650px;
    margin-top: 100px;
    margin-left: 40px;
    margin-bottom: 50px;
    padding: 10px;
    padding-left: 25px;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px blueviolet
}

.dancing-script{
    font-family: 'Dancing Script';
}

.text-center{
    text-align: center;
}

.gm-heading{
    margin: 20px;
    font-size: 30px;
}

.maps-container{
    display: flex;
}

.form-container{
    background-color: rgb(244, 213, 148);
    height: 600px;
    width: 700px;
    margin-top: 100px;
    margin-left: 50px;
    border-radius: 20px;
    margin-bottom: 50px;
    box-shadow:  0 0 10px 1px red
}
.form-heading{
    margin: 20px;
    font-size: 30px;
    padding: 5px;
}

.form{
    margin: 20px;
    margin-top: 10px;
}


.input-type{
    width: 300px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(229, 229, 229);
    margin: 10px;
    border: 1px solid black;

    &:hover{
        background-color: white;
        border: 2px solid black;
        
    }
}

.select-state{
    padding: 10px;
    width: 250px;
    border-radius: 10px;
    background-color: rgb(229, 229, 229);
    border: 1px solid black;

    &:hover{
        background-color: white;
        border: 2px solid black;
    }
}

.textarea{
    background-color: rgb(229, 229, 229);
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    &:hover{
        background-color: white;
        border: 2px solid black;
    }
}

#submit{
    padding: 10px;
    width: 250px;
    border-radius: 30px;
    margin-top: 10px;
    display: block;
    margin: 10px auto;
    background-color: black;
    color: white;
    cursor: pointer;
   &:hover{
    box-shadow: 0 0 15px 1px white;
    width: 300px;
    transition: 0.5s;
   }

}

.footer_sub{
    display: flex;
     height: 350px;
     width: 100%;
     background-color: #232946;
     
     }
     .footer_1{
      height: 300px;
      width: 440px;
      flex-direction: row;
      display: flex;
      flex-wrap: wrap;
      margin: 20px;
     }
     #footer_img{
         height: 90px;
         width: 100px;
     }
     #footer_name{
         color:white;
         font-size: 21px;
         margin-inline-start: -20px;
         margin-top: 40px;
     }
     #footer_text{
         color: #fff;
         font-size: 16px;
         margin-left: 20px;
         margin-inline-start: 40px;
         padding: 10px;
         margin-top: -40px;
     }
     #footer_add{
         height: 40px;
         width: 40px;
         margin-left: 20px;
         margin-inline-start: 40px;
         background-color: white;
         border-radius: 50%;
         border: 3px solid white;
     }
     #link{
         font-size: 30px;
         color: white;
         margin-left: 130px;
         margin-top: 30px;
     }
     #link_1{
         margin-top: 80px;
         font-size: 20px;
         color: white;
         margin-inline-start: -100px;
     }
     #link_2{
         margin-top: 100px;
         font-size: 20px;
         color: white;
         margin-inline-start: -110px;
         padding: 10px;
     }
     #link_3{
         margin-top: 130px;
         font-size: 20px;
         color: white;
         margin-inline-start: -110px;
         padding: 10px;
     }
     #link_4{
         margin-top: 160px;
         font-size: 20px;
         color: white;
         margin-inline-start: -110px;
         padding: 10px;
     }
     #link_5{
         margin-top: 190px;
         font-size: 20px;
         color: white;
         margin-inline-start: -110px;
         padding: 10px;
     }
     #link_6{
         margin-top: 190px;
         font-size: 20px;
         color: white;
         margin-inline-start: -110px;
         padding: 10px;
     }
     #location{
     height: 40px;
     width: 40px;
     margin: 20px;
     background-color: white;
     border-radius: 50%;
     margin-top: 100px;
     font-size: 20px;
     margin-inline-start: -230px;
     padding: 10px;
     margin-top: 90px;
     }
     #footer_text1{
         color: #fff;
         font-size: 18px;
         margin-left: 20px;
         margin-inline-start: 80px;
         padding: 10px;
         margin-top: -110px;
     }
     #location1{
     height: 40px;
     width: 40px;
     margin: 20px;
     background-color: white;
     border-radius: 50%;
     margin-top: -70px;
     font-size: 20px;
     margin-inline-start: 40px;
     padding: 10px;
     }
     #footer_text2{
         color: #fff;
         font-size: 18px;
         margin-left: 20px;
         margin-inline-start: -40px;
         padding: 30px;
         margin-top: -90px;
     }
     #location2{
     height: 40px;
     width: 40px;
     margin: 20px;
     background-color: white;
     border-radius: 50%;
     margin-top: -10px;
     font-size: 20px;
     margin-inline-start: -200px;
     padding: 10px;
     }
      #footer_text3{
         color: #fff;
         font-size: 20px;
         margin-left: 20px;
         margin-inline-start: -40px;
         padding: 30px;
         margin-top: -30px;
     } 