.vid{
    height: 500px;
    width: 1000px;
    margin-left: 270px; 
    margin-top:15px;
    margin-bottom: 20px;
}
.S-vid{
    height: 500px;
    width: 1000px;
    border-radius: 70px;
}
.Main-Div{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
 .Sub-Div{
      margin-top: 30px;
      height: 400px;
      width: 320px;
      border-radius: 20px;
      background-color: rgb(238, 226, 182);
     transition: 0.5s;
 }
 .Sub-Div:hover{
  box-shadow:5px 5px 20px 3px black;
  scale: 105%;
 }
 .img-div{
  border-radius: 20px;
  width: 320px;
  height: 300px;
  padding: 10px;
 }
 .Para-Div{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  margin-left: 20px;
  font-size: large;
  font-style: bold;
 }
 .but{
  width: 80px;
  border-radius:20px;
  font-style: oblique;
  transition: scale 200ms;
  background-color: rgb(229, 203, 100);
  margin-left: 200px;
  margin-top: 10px;
}
.but:hover{
  scale: 105%;
  background-color: rgb(231, 211, 79);
  color:#000000;
}
.marquee{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 60px;
  width: 100%;
  background-color: rgb(238, 231, 205);
}
.marquee1{
  margin-top:5px;
  font-size: 45px;
  font-family:Arial, Helvetica, sans-serif;
  font-style: italic;
  color:  rgb(102, 101, 99);

}
.footer_sub{
  display: flex;
   height: 350px;
   width: 100%;
   background-color: #232946;
   
   }
   .footer_1{
    height: 300px;
    width: 440px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
   }
   #footer_img{
       height: 90px;
       width: 100px;
   }
   #footer_name{
       color:white;
       font-size: 21px;
       margin-inline-start: -20px;
       margin-top: 40px;
   }
   #footer_text{
       color: #fff;
       font-size: 16px;
       margin-left: 20px;
       margin-inline-start: 40px;
       padding: 10px;
       margin-top: -40px;
   }
   #footer_add{
       height: 40px;
       width: 40px;
       margin-left: 20px;
       margin-inline-start: 40px;
       background-color: white;
       border-radius: 50%;
       border: 3px solid white;
   }
   #link{
       font-size: 30px;
       color: white;
       margin-left: 130px;
       margin-top: 30px;
   }
   #link_1{
       margin-top: 80px;
       font-size: 20px;
       color: white;
       margin-inline-start: -100px;
   }
   #link_2{
       margin-top: 100px;
       font-size: 20px;
       color: white;
       margin-inline-start: -110px;
       padding: 10px;
   }
   #link_3{
       margin-top: 130px;
       font-size: 20px;
       color: white;
       margin-inline-start: -110px;
       padding: 10px;
   }
   #link_4{
       margin-top: 160px;
       font-size: 20px;
       color: white;
       margin-inline-start: -110px;
       padding: 10px;
   }
   #link_5{
       margin-top: 190px;
       font-size: 20px;
       color: white;
       margin-inline-start: -110px;
       padding: 10px;
   }
   #link_6{
       margin-top: 190px;
       font-size: 20px;
       color: white;
       margin-inline-start: -110px;
       padding: 10px;
   }
   #location{
   height: 40px;
   width: 40px;
   margin: 20px;
   background-color: white;
   border-radius: 50%;
   margin-top: 100px;
   font-size: 20px;
   margin-inline-start: -230px;
   padding: 10px;
   margin-top: 90px;
   }
   #footer_text1{
       color: #fff;
       font-size: 18px;
       margin-left: 20px;
       margin-inline-start: 80px;
       padding: 10px;
       margin-top: -110px;
   }
   #location1{
   height: 40px;
   width: 40px;
   margin: 20px;
   background-color: white;
   border-radius: 50%;
   margin-top: -70px;
   font-size: 20px;
   margin-inline-start: 40px;
   padding: 10px;
   }
   #footer_text2{
       color: #fff;
       font-size: 18px;
       margin-left: 20px;
       margin-inline-start: -40px;
       padding: 30px;
       margin-top: -90px;
   }
   #location2{
   height: 40px;
   width: 40px;
   margin: 20px;
   background-color: white;
   border-radius: 50%;
   margin-top: -10px;
   font-size: 20px;
   margin-inline-start: -200px;
   padding: 10px;
   }
    #footer_text3{
       color: #fff;
       font-size: 20px;
       margin-left: 20px;
       margin-inline-start: -40px;
       padding: 30px;
       margin-top: -30px;
   } 