.vid{
    height: 500px;
    width: 1000px;
    margin-left: 270px; 
    margin-top:15px;
    margin-bottom: 20px;
}
.S-vid{
    height: 500px;
    width: 1000px;
    border-radius: 70px;
}
.Main-Div{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
 .Sub-Div{
      margin-top: 30px;
      height: 400px;
      width: 320px;
      border-radius: 20px;
      background-color: rgb(238, 226, 182);
     transition: 0.5s;
 }
 .Sub-Div:hover{
  box-shadow:5px 5px 20px 3px black;
  scale: 105%;
 }
 .img-div{
  border-radius: 20px;
  width: 300px;
  height: 300px;
  padding: 10px;
 }
 .Para-Div{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  margin-left: 20px;
  font-size: large;
  font-style: bold;
 }
 .but{
  width: 80px;
  border-radius:20px;
  font-style: oblique;
  transition: scale 200ms;
  background-color: rgb(229, 203, 100);
  margin-left: 200px;
  margin-top: 10px;
}
.but:hover{
  scale: 105%;
  background-color: rgb(231, 211, 79);
  color:#000000;
}
.marquee{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 60px;
  width: 100%;
  background-color: rgb(238, 231, 205);
}
.marquee1{
  margin-top:5px;
  font-size: 45px;
  font-family:Arial, Helvetica, sans-serif;
  font-style: italic;
  color:  rgb(102, 101, 99);

}
footer{
  display: flex;
  height: 300px;
  background-size: cover;
  border: 2px solid #000033;
 background-color: #ff3300;
 color: #000033;
  height: 300px; 
}
.end_1{
  font-size: 20px;
  margin: 50px 0 0 150px;
  font-weight: 900;
  display: flex; 
}
#highlight{
  color: #000033;
}
#info_1{
  margin: 10px 0 0 150px ;
  font-size: 20px;
  color:burlywood;
}
#location{
  height: 30px;
  width: 30px;
  margin-top: 20px;
  margin-left: 140px;
}
#info_2{
  margin: 0 0 0 10px ;
  font-size: 20px;
  color: blanchedalmond;
}
#location1{
  height: 30px;
  width: 30px;
  margin-top: 20px;
  padding: 5px;
}
.img3{
  margin-left: 130px;
}
.map{
  width: 300px;
  margin-top: 5px;
  margin-left: 70px;
}
span{
  font-size: 20px;
  color: blanchedalmond;
}
#BTN{
  font-size: 20px;
  color:wheat;
  background-color: #000033;
  margin: 10px 0 0 20px;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
}
#BTN_3{
  font-size: 20px;
  color:wheat;
  background-color: #000033;
  margin: 10px 0 0 240px;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
}
.second{
margin: 60px;
display: flex;
flex-direction: row;
flex-wrap: nowrap;   
}
.box1{
height: 250px;
width: 320px;
margin: 20px;
box-shadow: 0 0 20px 2px rgb(188, 184, 184);
border-radius: 10px;
background-color: orangered;
}
.box1:hover{
background-color: #ff8533;
}
#user{
height: 250px;
width: 300px;
padding: 10px;
border-radius: 20px;
display: block;
}
