body{
 
  /*background-image: url("./imgs/shiwajimaharajbackground1.jpg");background-image: linear-gradient(to right top, #E5E6E4, #ECECEB,  #F2F3F2, #F9F9F8,#FFFFFF);
  background-image: linear-gradient(to right top, #E5E6E4, #ECECEB,  #F2F3F2, #F9F9F8,#FFFFFF);*/
   background-image: url("https://i.pinimg.com/736x/67/81/92/67819268131d801f8b21f56a317606b1.jpg");
   background-size: cover;
}
/*.border {
   border-image: linear-gradient(to right, #aa8fd8 0%, #5ffbf1 100%) 1;
   border-radius: 5px; /* this doesn't work 
   border-width: 4px;
   border-style: solid;
   padding: 5px;
 }*/
 .footer-bottom {
  margin-top: 5px;
  color: #c05a5a;
  text-align: center;
  background-color: #f6eaea;
}
.footer-bottom p {
  margin: 0;
}
body:hover{
  background-image:url("./../../images/about_imgs/shiwajimaharajbackground2.jpg");
  background-size:cover ;
  transition: 3.5s ease;
}

.about-continer{
   background-color: white;
   padding: 30px 10px;
   margin-top: 160px;
 
   width: 65%;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 0px 0px 14px 8px rgba(00,00,00,0.2);border-radius: 18px;
}
.about-continer:hover{
 

   transition: 2s;
   
}
.content{

   margin-top: 1
   0px;
   margin-left: 30px;
   height:500px ;
   width: 45%;
   border-radius: 20px;   
    
}
.about-heading{
   padding-top: 20px;
   font-family: Arial;
   font-size: 50px;
   animation: fadeIn 3s;
   font-weight: 500;
   color:  rgb(255, 112, 60);
     
     
}
@keyframes fadeIn {
   0% { opacity: 0; }
   50% { opacity: 0.5; text-shadow: 1px 0.5px 1px rgb(255, 209, 123) }
   100% { opacity: 1; color:rgb(255, 157, 121);  text-shadow: 1px 0.5px 0px rgb(255, 145, 106); }
 }
 .linearGradient{
   background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, hsl(204, 91%, 69%), #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.image { 
   width: 34%; 
   height: 450px; 
   border-radius: 20px;
   /* border: 6px double rgb(172, 171, 171);*/
   border: 6px double rgb(255, 203, 184);
   animation: changeImage 7s infinite ease-in; 
   margin-top: 50PX;margin-bottom: 50PX;
} 
@keyframes changeImage { 
   0% { background-image: url('././../../images/about_imgs/imgggg.webp');background-size: cover; } 
   17% { background-image: url('././../../images/about_imgs/new1.jpg');background-size: cover; } 
   34% { background-image: url('././../../images/about_imgs/new5.jpg');background-size: cover; } 
   51% { background-image: url('././../../images/about_imgs/img8.jpg'); background-size: cover;} 
   68% { background-image: url('././../../images/about_imgs/new3.jpg'); background-size: cover;} 
   85% { background-image: url('././../../images/about_imgs/img4.webp'); background-size: cover;} 
   100% { background-image: url('././../../images/about_imgs/last.jpeg'); background-size: cover;} 
} 

.bg-color{
   background-color: beige;
}
.about-text{
  
   padding-left: 60px; 
   text-align: justify;  
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 300;
}
 .box{
   box-shadow: 10px 10px 14px 1px rgba(00,00,00,0.2);
}
.box:hover{
   box-shadow: 0px 0px 0px black;
}
.btn6{
   margin-top: 30px;
   margin-left: 240px;
   padding: 5px 12px;
   /*  background-image: linear-gradient(to right top, #6cd2f8, hsl(204, 91%, 69%), #52cffe, #41dfff, #46eefa);
   */
  /* background-image: linear-gradient(to right top,   #8aa7ec,#8aa7ec, 
   hsl(204, 91%, 69%),  #30dcff);
   border-radius: 10px;
   border: 1.7px  #fcdcee solid;
   cursor: pointer;
   font-size: 18px;*/
   font-size: 18px;
   color:wheat;
   background-image: linear-gradient(to right top,   rgb(255, 143, 103),rgb(255, 121, 72), 
     rgb(245, 67, 2));

  
   padding: 7px 3px;
   border-radius: 10px;
   border-style: none;
 }
 .btn6:hover{
   /*
    padding: 5px 10px;
    background-image: linear-gradient(to right top, #e6a3c8,  #ba83ca, #aa8fd8, #7f7fe6);
    border-radius: 10px;
    border: 1px rgb(253, 253, 253) solid;*/
    background-color: #ff6600;
    
    transition: 0.4s;
 }