body{
    background: linear-gradient(to right, rgb(214, 210, 255),rgb(248, 247, 255),rgb(200, 193, 244),rgb(250, 250, 255));
 
}

.contaner1{
    display:flex;
    flex-wrap: wrap;
    position: relative;
}
.about-heading{
   
    background-color: #f4f4f4; 
 }
.about-us{
    position: absolute;
    top: 40px;
    left: 42%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    font-size: 50px;

}
.about-us:hover{
    font-size: 22px;
    font-family: cursive;
    transform: scale(2);
    transition: 1.7s ease-in;
}

.about-img{
    height: 200px;
    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
}
.img1{
     background-image: url("./../../images/about_imgs/aboutus/Screenshot\ \(382\).png \(382\).png");
     background-size: cover;
     width: 100%;
     height: 400px;
}
   /*.img1:hover{
   transition: 1s;
   color: rgb(141, 110, 110);
   -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.img2{
    background-image: url("./imgs/aboutus/background2.webp");
    background-size: cover;
    width: 50%;
    height: 250px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}*/
.box{
      box-shadow: 10px 10px 14px 1px rgba(00,00,00,0.2);
}
.box:hover{
      box-shadow: 0px 0px 0px black;
}
.btn6{
      margin-top: 10px;
      margin-left: 75%;
      padding: 7px 15px;
     /*  background-image: linear-gradient(to right top, #6cd2f8, hsl(204, 91%, 69%), #52cffe, #41dfff, #46eefa);
     */
     background-image: linear-gradient(to right top,  #9a9ae1, #8aa7ec,#8aa7ec, #79b3f4,
    hsl(204, 91%, 69%),  #41dfff, #46eefa, #5ffbf1);
     border-radius: 10px;
     border: 1.7px  #fcdcee solid;
     cursor: pointer;
  }
  .btn6:hover{ 
      padding: 7px 15px;
      background-image: linear-gradient(to right top, #e6a3c8,  #ba83ca, #aa8fd8, #7f7fe6);
      border-radius: 10px;
      border: 1px rgb(253, 253, 253) solid;
  }

.about-content{
     display: flex;
     position: absolute;
     top:24%;
     padding: 30px 10px;
     margin-top: 20px;
     width: 100%;
     height: 450px;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 18px;
}
.about-content1{
     display: flex;
     position: relative;
     bottom: 40%;
     padding: 30px 10px;
     margin-top: 20px;
     width: 100%;
     height: 450px;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 18px;
}
.about-content2{
     position: relative;
     bottom:20%;
     padding: 30px 10px;
     margin-top: 20px;
     width: 100%;
     height: 450px;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 18px;
}
.about-font{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}
.aboutcontiner{
    border-radius:130px 130px ;
    padding-left: 50px;
    margin-left: 60px;
    padding-right: 50px;
    margin-right: 180px;
    text-align: justify;
    height: 360px;
    width: 40%;
}
.join-us{
    position: relative;
    bottom: 0;
}

.aboutcontiner1{
    margin-left: 30px;
    border-radius:130px 130px ;
    padding-left: 50px;
    margin-left: 80px;
    padding-right: 50px;
    margin-right: 80px;
    text-align: justify;
    height: 320px;
    width: 40%;
}
.heading{
    font-size: 38px;
    color:rgb(151, 125, 125);
    text-align: center;
}
.heading:hover{
    color:rgb(130, 94, 94);cursor: pointer;
}
.image { 
    margin-right: 80px;
    background-image: url("./../../images/about_imgs/ourvision.avif");
    background-size: contain;
    width: 45%; 
    height: 400px; 
    border-radius: 12px;
    border: 3px double rgb(221, 210, 210);box-shadow: 0px 0px 16px 10px rgba(00,00,00,0.2);cursor:pointer;
}
.image:hover{
    background-image: url("./../../images/about_imgs/ourvision.avif");
    background-size: cover;
    transition: 2s ease-out;
}
.image1 { 
    margin-right: 80px;
    background-image: url("./../../images/about_imgs/story1.jpg");
    background-size: cover;
    width: 45%; 
    height: 400px; 
    border-radius: 12px;
    border: 3px double rgb(221, 210, 210);box-shadow: 0px 0px 16px 10px rgba(00,00,00,0.2);cursor:pointer;
}
.image1:hover{
    background-image: url("./../../images/about_imgs/aboutus/whywedothis1.jpg");
    background-size: cover;
    transition: 1.5s ease-in-out;
}
.image3{ 
    margin-left: 40px;
    margin-right: 80px;
    background-image: url("./../../images/about_imgs/aboutus/whywedothis.avif");
    background-size: cover;
    width: 45%; 
    height: 400px; 
    border-radius: 12px;
    box-shadow: 0px 0px 14px 7px rgba(00,00,00,0.2);cursor:pointer;
}
.image3:hover{
    background-image: url("./../../images/about_imgs/whoweare1.avif");
    background-size: cover;
    transition: 2s ease;
}
.about-content3{
    position: relative;
    bottom:30%;
    padding: 30px 10px;
    margin-top: 20px;
    width: 100%;                   
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
}
.aboutcontiner4{
    margin-left: 30px;
    border-radius:130px 130px ;
    padding-left: 50px;
    margin-left: 40px;
    padding-right: 50px;
    margin-right: 160px;
    text-align: justify;
    height: 360px;
    width: 40%;
}
.image2 { 
    margin-right: 80px;
    background-image: url("./../../images/about_imgs/story.avif");
    background-size: cover;
    width: 40%; 
    height: 400px; 
    border-radius: 12px;
     border: 3px double rgb(221, 210, 210);box-shadow: 0px 0px 16px 10px rgba(00,00,00,0.2);cursor:pointer;
}
.image2:hover{
    background-image: url("./../../images/about_imgs/aboutus/who\ we\ are123.avif");
    background-size: contain;
    transition: 3s ease-in-out;

}
.footer-bottom {
    margin-top: 5px;color: #c05a5a;text-align: center;background-color: #f6eaea; 
}
.footer-bottom p {
    margin: 0;
  }
.image5 { 
    display: block;
    margin-left: 40px;
    margin-right: 80px;
    background-image: url("./../../images/about_imgs/why\ we\ do\ this.avif");
    background-size: cover;
    width: 40%; 
    height: 400px; 
    border-radius: 12px;
    box-shadow: 0px 0px 14px 8px rgba(00,00,00,0.2);cursor:pointer;
}
.image5:hover{
    background-image: url("./../../images/about_imgs/why\ we\ do\ this.avif");
    background-size: contain;
    transition: 3s ease-in-out;
}
.team{
    margin-left: 60px;
       
        
    margin-top: 55px;
    height: 700px;
    width: 92%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly ;
    align-items: start;
      }
.card{
    /*
    background: linear-gradient(to right, rgb(236, 236, 253),rgb(237, 235, 255),rgb(213, 208, 253),   rgb(253, 232, 237));*/
    height: 315px;
    width: 250px;
    border-radius: 10px;
    border: 0.1px solid rgb(191, 187, 187);
  }
.card:hover{
    background: linear-gradient(to right,white,rgb(238, 238, 238) );
    transition: 0.6s;
    height: 325px;
    width: 250px;
    box-shadow: 0 1px 15px 2px rgba(33, 34, 37, 0.28);
  }
.categoryimg{
    background: linear-gradient(to right, rgb(220, 220, 255),rgb(172, 163, 253),   rgb(249, 238, 241),rgb(254, 203, 217));
    align-items: center;
    height: 130px;
    width: 130px;
    margin-left: 35px;
    padding-left: 14px;
    padding-right: 14px;
    margin-top: 14px;
    margin-bottom: 8px;
    display: block;
    border-radius: 50%;
    border: 0.3px solid rgb(160, 160, 160);
  }
.categoryimg:hover{
    cursor:pointer;
    border: 5px rgb(234, 234, 234) double;
    transition: 0.5s ease ;
    height: 150px;
    width: 180px; border-radius: 0%;transition: 0.5;
    padding-left: 0px;
    padding-right: 0px;
 }
.text{
    text-decoration: none;
  }
.text:hover{
    text-decoration-line: underline;
  }
.cardfont{
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    font-family: cursive;font-weight: lighter;
    font-size: 15px;
 }

.font1{
    color:#c76989;
    text-align: center;
    font-size: 18px;
 }
.font1:hover{
    text-decoration-line: underline;
}
.textdec{
    text-decoration: none;
}
.textdec:hover{
        text-decoration-line: underline;
}
.join-us-font{
    padding-left: 60px;
    padding-right: 60px;
    text-align: justify;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}
.about-us-img{
    display: flex;
    width: 100%;
    height: 90px;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.about-us-imgg{
    height: 30px;
    width:30px;
    border-radius: 50%;   
    padding: 6px;
    background: linear-gradient(to right,white,rgb(238, 238, 238) );
    border: white 3px solid;  
 }
.about-us-imgg:hover{
    transition: 0.2s;
    background: linear-gradient(to right, #dff6ff,#a9e7ff, #83dcff, #73d7ff );
    border: rgb(87, 86, 86) 3px solid;
}
.about-us-imgg11{
    margin-left: 120px;
}
.about-us-imgg1{   
    margin-top: 5px; 
    height: 20px;
    width:18px;
    padding-left: 5px;
    margin-left: 5px;
    padding-right: 4px;
    border-radius: 50%;
    border: white 1px solid;  
}
.about-us-imgg1:hover{
    transition: 0.2s;
    background: linear-gradient(to right, #dff6ff,#a9e7ff, #83dcff, #73d7ff );
    border: rgb(87, 86, 86) 0.5px solid;
 }